/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* outline: dotted red; */
}

#wrapper {
    width: 970px;
    margin: 10px auto;
    background: lightgray;
}

h1 {
    margin: 1% 1% 1% 25%;
    
}

h2 {
    margin: 1% 1% 1% 35%;
    
}

#word, #reset {
    margin: 1% 1% 1% 35%;
}

textarea {
    font-size: large;
    
    text-align: center;
    margin: 1%;
}

input[type="submit"] {
    padding: 3px;
    margin: 2% 5%;
    background: linear-gradient(#79a2c3,#4784b6);
    font-weight: bold;
    font-size: 12px;
    width: 100px;
}